

<br/>

<p>you can share and exchange your opinions , inpressions , and emotions

about various books!</p>

<% if user_signed_in? %>

       <%= link_to "Log out", destroy_user_session_path, method: :delete %>

   <% else %>

      <%= link_to "Log in", new_user_session_path ,class: "btn btn-info btn-sm btn-block mb-3 sign_in" %>


      <%= link_to "Sign up", new_user_registration_path ,class: "btn btn-success btn-sm btn-block sign_up" %>

  <% end %>